<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suvidha">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.suvidha.Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".Activities.LoginActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.suvidha.Activities.MedicineActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.suvidha.Activities.GroceriesActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.suvidha.Activities.ShopActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.suvidha.Activities.ItemActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Activities.RegisterActivity" android:screenOrientation="portrait" />
        <activity android:name=".Activities.OrderDetailsActivity" android:screenOrientation="portrait"/>
    </application>

</manifest>